<app-content-wrapper>
  <app-content-header>Education</app-content-header>
  <div
    class="p-6 bg-white border border-zinc-300 rounded-lg shadow-sm transition-transform hover:scale-[1.01]"
  >
    <h4>{{ education?.degree }}</h4>
    <h5 class="font-semibold mb-4">{{ education?.institution }}</h5>
    <p class="text-sm text-zinc-600 font-light">
      {{ education?.startDate }} - {{ education?.endDate }}
    </p>
    <p class="text-sm text-zinc-600 font-light">{{ education?.location }}</p>
  </div>
</app-content-wrapper>
