@tailwind base
@tailwind components
@tailwind utilities

@font-face
  font-family: Inter
  src: url(./assets/fonts/InterVariable.woff2)

:root
  font-family: Inter, sans-serif
  font-feature-settings: 'liga' 1, 'calt' 1

@supports (font-variation-settings: normal)
  :root
    font-family: InterVariable, sans-serif
